.sideNavLogo {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.sideNavLogo h2 {
  color: #fff;
}

.logo {
  font-size: 24px;
}

.sideNavMenu {
  color: white;
  margin-top: 20px;
  cursor: pointer;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.sideNavLink {
  display: block;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px 10px;
  font-size: 18px;
}

.sideNavLink:hover {
  background: #374151;
}

.toggleButton {
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  /* .sideNav {
    transform: translateX(-100%);
  } */

  .toggleButton {
    display: block;
  }
}
