.projectTitle {
  margin-bottom: 20px;
}

.projectCreateGroup {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.projectCreateGroup button {
  background: #1ded95;
  color: #fff;
  padding: 5px 10px;
  font-weight: 500;
}

.projectCreateGroup button:hover {
  background: #0dd08c;
}
