.projectListContainer {
  width: 100%;
}

.projectListTitle {
  margin-bottom: 20px;
}

.projectListGroup {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.projectListGroup button {
  background: #1ded95;
  color: #fff;
  padding: 5px 10px;
  font-weight: 500;
}

.projectListGroup button:hover {
  background: #0dd08c;
}
